/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #000 30%, #720d6d);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#fff;
}
/* Estilos para o cabeçalho */
header {
    background-color: #000000;
    color: #fff;
    padding: 5px;
    text-align: center;
}

hr {
    margin: 0;
    height: 1px; /* Adicione esta linha para definir a altura da linha */
    background-color: #ffffff; /* Adicione esta linha para definir a cor da linha (opcional) */
}

/* Estilo para centralizar a imagem */
.logo {
    margin: 0 auto; /* Define as margens automáticas para centralizar horizontalmente */
}

/* Estilos para a barra de navegação */
nav {
    background-color:#000000;
    text-align: center;
    padding: 10px; /* Aumentando a altura da barra de navegação */
}

nav ul {
    list-style-type: none; /* Remove os pontos de lista */
    padding: 0;
    margin: 0; /* Removendo a margem */
}

nav ul li {
    display: inline; /* Exibe os itens de navegação em linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

nav ul li a {
    color: #fff; /* Cor do texto dos links */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul li a:hover {
    text-decoration: none; /* Remove o sublinhado quando o mouse passa sobre o link */
    color: #fff; /* Mantém a cor do texto padrão */
}

:root {
    --verde: #d5ef07;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content1 img {
    margin-left: auto; /* Move a imagem para a direita */
    margin-right: 10px; /* Define uma margem direita */
    margin-top: 70px;
    border-radius: 20px;
}

.text1 {
    max-width: 600px; /* Defina o valor máximo de largura conforme necessário */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-left: 90px; /* Move o texto um pouco para a esquerda */
}

.text1 p {
    color: #fff; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5; /* Espaçamento entre linhas */
    text-align: justify; /* Alinhar o texto justificado */
}

.content2 {
    display: flex;
    align-items: center;
}

.text2 {
    max-width: 40%; /* Defina a largura máxima para o texto */
    margin-left: 170px; /* Adiciona uma margem do lado esquerdo */
    margin-top: 70px;
}

.imagem-teste2 {
    margin-left: 140px; /* Move a imagem para a direita */
    margin-top: 70px;
    border-radius: 20px;
}

.text2 p {
    color: #fff; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5; /* Espaçamento entre linhas */
    text-align: justify; /* Alinhar o texto justificado */
}

.content3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content3 img {
    margin-left: auto; /* Move a imagem para a direita */
    margin-right: 10px; /* Define uma margem direita */
    margin-top: 70px;
    border-radius: 20px;
}

.text3 {
    max-width: 600px; /* Defina o valor máximo de largura conforme necessário */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-left: 90px; /* Move o texto um pouco para a esquerda */
    margin-top: 70px;
}

.text3 p {
    color: #fff; /* Cor do texto */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5; /* Espaçamento entre linhas */
    text-align: justify; /* Alinhar o texto justificado */
}

/* Estilo para as palavras-chave */
.content1 strong,
.content2 strong,
.content3 strong {
    color: var(--verde); /* Cor das palavras-chave */
    font-size: 1.2em; /* Tamanho da fonte das palavras-chave */
    font-weight: bold; /* Negrito para as palavras-chave */
}

.gallery {
    text-align: center;
    margin: 50px 0;
}

.gallery h2 {
    color: var(--verde);
    margin-bottom: 20px;
}

.gallery-item {
    display: inline-block;
    margin: 20px;
    text-align: center;
}

.gallery-item img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-item p {
    color: #fff;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}



footer {
    text-align: center;
    padding: 10px;
    background-color: #000000;
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 100px ;
  }

